/* ---------------------Initiale Style for my every website -------------------- */

:root {
  --primary-color: #000814;
  --secondary-color: #111d28;
  --main-color: #ff7606;
  --text-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html {
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: white;
  cursor: url('../media/icons/icons8-cursor\(3\).svg'), auto;
  fill: red;
  
  cursor: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* utility classes */

.hidden1 {
  display: none;
}

.show {
  display: block;
}

a:active {
  color: var(--main-color);
}

/* background switcher */

div.bgBtnWrapper {
  position: fixed;
  right: 5px;
  top: 150px;
}

div.bgBtnWrapper span.bgBtn {
  font-size: 40px;
  padding: 5px;
}

span.bgBtn:hover {
  color: red;
}

/* ---------------------Navbar-------------------- */

#navbar {
  padding: .2rem 4rem;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* background-color: red; */
}

#navbar .menu {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
  /* background-color: red; */
}

#navbar .link-wrapper {
  padding: 5px;
  /* background-color: red; */
}
.link-container a {
  color: inherit;
  font-size: large;
}

.link-container:hover {
  color: var(--main-color);
}
.link-wrapper:hover {
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--main-color);
}
.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar .link-container span,
a {
  padding: 3px;
}

/* div.link-wrapper:hover,
a#nav-link:hover {
  color: var(--main-color);
} */

/* ---------------------Home Section-------------------- */

#home {
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 5rem 0;
  /* border: 1px solid red; */
}

#home .content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#home .content {
  margin: 4rem auto;
  font-size: larger;
}

.nameAndProfession .name,
.profession {
  color: var(--main-color);
}

.btn {
  padding: 0.6rem 1rem;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  background-color: var(--main-color);
  color: white;
  font-size: large;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ---------------------Hero Section-------------------- */

#home .homeContent p {
  margin: 1rem auto;
}

#home .subject {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.subject div {
  border: 3px dashed var(--main-color);
  border-radius: 50%;
  padding: 5px;
}

#home .subject img {
  background-color: var(--main-color);
  border-radius: 50%;
  /* background-color: red; */
}

/* ---------------------home end-------------------- */

/* ---------------------About start-------------------- */
#about {
  padding-top: 5rem;
  max-width: 90%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

#about .aboutContent p {
  margin: 1rem auto;
}

#about .info {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#about .skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

#about .skills-wrapper .skill-level div.skill-name {
  background-color: var(--secondary-color);
  /* background-color: red; */
  display: flex;
  border-radius: 0.3rem;
  padding: 10px;
}

#about .content {
  margin: 4rem auto;
  font-size: larger;
}

#about .info .bio-data .bio-data li {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style-type: square;
}

#about .info .contect .wrapper li {
  margin: 0.5rem;
  padding: 0.5rem;
  list-style-type: square;
}

/* ---------------------About end-------------------- */

/* ---------------------Education Start-------------------- */
div.content,
div.bio-data {
  height: fit-content;
}

#academics h2 {
  margin: 1rem auto;
}

#education {
  /* padding: 1.5rem; */
  border-radius: 5px;
  display: grid;
  gap: 20px;
}

#education .edu-desc {
  margin-top: 1rem;
}

#education .graduation {
  padding-left: 4px;
  border-left: 3px solid var(--main-color);
  padding: 1rem;
  background-color: var(--secondary-color);
}

#education .intermediate {
  padding-left: 4px;
  border-left: 3px solid var(--main-color);
  padding: 1rem;
  background-color: var(--secondary-color);
}

#education .high-school {
  padding-left: 4px;
  border-left: 3px solid var(--main-color);
  padding: 1rem;
  background-color: var(--secondary-color);
}

/* ---------------------Education End-------------------- */
/* ---------------------Services Start-------------------- */

#services {
  padding: 6rem 0;
  max-width: 90%;
  margin: auto;
}

#services .services-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem auto;
}

#services .services-wrapper .service-container {
  background-color: var(--secondary-color);
  /* width: 287px; */
  text-align: center;
  padding: 1.5rem;

  /* margin: 1rem; */
  /* background-color: red; */
  border-radius: 3px;
}

.service-container:hover {
  scale: 1.05;
  transition: all ease-in 200ms;
  transition: all ease-out 200ms;
  border: 1px solid var(--main-color);
}

#services .services-wrapper span.material-symbols-outlined {
  color: var(--main-color);
  font-size: 3rem;
  padding: 5px;
}

.services-wrapper p {
  text-align: left;
  padding: 1rem 0;
}

/* ---------------------Services End-------------------- */

#portfolio {
  max-width: 90%;
  margin: 1rem auto;
  padding: 6rem 0;
}

#portfolio .projects {
  margin: 1.4rem 0 0.8rem 0;
}

.ccs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
}

.ccsImages {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  overflow-wrap: normal;
  transition: all ease-in 300ms;
}

#ccsImage {
  width: 100%;
  border-radius: 5px;
}

.fade {
  animation: fadeInOut 3s ease-in-out infinite; /* Change the duration and animation type as needed */
}

#portfolio .project-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem auto;
}

#portfolio .project-wrapper .project-container {
  /* background-color: var(--main-color); */
  border-radius: 5px;

  /* padding: 5px; */
}

.project-container:hover {
  box-shadow: var(--main-color) 3px 3px 10px;
  transition: all ease-in 200ms;
  margin: 0 1rem;
  scale: 1.05;
}

#portfolio .project-wrapper .project-container img {
  width: 100%;
  border-radius: 0.5rem;
}

/* ---------------------Contact Start-------------------- */

#contact {
  max-width: 90%;
  margin: 1rem auto;
  padding: 10rem 0;
}

#contact .query p {
  font-weight: bold;
}

.contactForm {
  padding: 30px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.contactForm p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

#contact .contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 2rem 0;
}

#contact .contacts-wrapper .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5rem;
  font-weight: bold;
  padding: 3rem;
  border-radius: 3px;
  background-color: var(--secondary-color);
  /* font-size: 1.5rem; */
}

#contact .query h2 {
  color: var(--main-color);
}

#contact .contacts-wrapper .contact span {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}

#contact .mail-contact .nameAndMail {
  display: flex;
  gap: 10px;
}

#contact .mail-contact .nameAndMail input,
textarea {
  padding: 15px;
  width: 50%;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
}

#contact .mail-contact .nameAndMail,
textarea {
  justify-content: start;
}

#contact .mail-contact .nameAndMail input,
textarea {
  width: 100%;
}

#contact .btn {
  border-radius: 0.2rem;
  margin-left: 10px;
}

.mapAndForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px 0;
  gap: 10px;
}

.googleMap {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.googleMap {
  border-radius: 10px;
}

textarea:focus,
input:focus {
  outline: none;
  color: white;
}

/* ---------------------Contact End-------------------- */

/* responsive */

.footer {
  height: 5rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid var(--main-color);
}

.footer p {
  /* text-align: center; */
  font-weight: bold;
}

.menu-btn {
  display: none;
}

/* responsive navbar */

@media only screen and (max-width: 850px) {
  .subject {
    margin-top: 100px;
  }
  #about .info {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #about .info .bio-data .bio-data li {
    margin: 0.5rem;
    padding: 0.5rem;
    list-style-type: none;
  }

  .info {
    grid-template-columns: repeat(2, 1fr);
  }
  #home .content {
    display: block;
  }
  #navbar {
    /* background-color: red; */
    padding: 1rem 2rem;
  }
  #services .services-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #portfolio .project-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-btn {
    display: block;
  }
  #menu.menu {
    display: none;
  }

  .ccsImages {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #contact .contacts-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .wrapper {
    list-style-type: none;
  }
}

@media screen and (max-width: 500px) {
  #navbar {
    /* background-color: red; */
    padding: 1rem;
  }

  #about {
    display: block;
  }

  #about .info {
    display: block;
    z-index: 10;
  }

  #services .services-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact .contacts-wrapper {
    display: block;
  }

  #contact .contacts-wrapper .contact {
    margin-top: 2rem;
  }

  #contact .query p,
  #contact .query h2 {
    padding: 1rem 0;
  }
  .ccsImages {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* for small devices */

@media screen and (max-width: 450px) {
  .mail-contact {
    margin-top: 2rem;
  }
  .ccsImages {
    grid-template-columns: repeat(1, 1fr);
  }

  .mapAndForm {
    grid-template-columns: repeat(1, 1fr);
  }
}

.show-menu {
  display: flex;
  position: absolute;
  top: 76px;
  right: 0;
  width: 40%;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1rem;
  padding-top: 1rem;
  /* z-index: 1; */
  background-color: var(--secondary-color);
  /* background-color: red; */
}

/* background change style */
#bg-btn {
  /* background-color: red; */
  position: fixed;
  right: 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#bg-btn span {
  font-size: 36px;
  /* background-color: var(--secondary-color); */
  padding: 10px;
}

/* ---------------------Go To Top-------------------- */

#goToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 3px;
  font-weight: 600;
}

#goToTop:hover {
  cursor: pointer;
}

::selection {
  background-color: var(--main-color);
}


/* cursor style */

#circleCursor {
  width: 80px; /* Diameter of the circle */
  height: 80px;
  /* background-color: var(--main-color); Color of the circle */
  border-radius: 50%; /* Ensures it's a circle */
  position: absolute;
  pointer-events: none; /* Allows interaction with elements beneath */
  z-index: 9999; /* Ensures it's above other elements */
  transform: translate(-50%, -50%); /* Center the circle around the cursor */
  border: 2px solid var(--main-color);
}
