:root {
    --primary-color: #000814;
    --secondary-color: #111d28;
    --main-color: #ff7606;
    /* --main-color: #ff06b0; */
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--primary-color);
    color: white;
}

a {
    /* text-decoration: none; */
    color: white;
    font-weight: bold;
}

a:active {
    color: var(--main-color);
}

#navbar {
    padding: 1.5rem;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

#navbar .menu {
    display: flex;
    align-items: center;
    text-align: center;
}

#navbar .link-wrapper {
    margin: .5rem 1rem;
}

#navbar .link-container {
    display: flex;
}

#navbar .link-container span,
a {
    padding: 3px;
}

#home {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 5rem 0;
}

#home .content {
    display: flex;
}

#home .content {
    margin: 4rem auto;
    font-size: larger;
}

.nameAndProfession .name,
.profession {
    color: var(--main-color);
}

.btn {
    margin: 1rem auto;
    margin-right: 3rem;
    padding: 12px 36px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
}

#home .homeContent p {
    margin: 1rem auto;
}

#home .subject img {
    background-color: var(--main-color);
    padding: 3px;
    border-radius: 4px;
    width: 100%;
}

#about {
    padding-top: 5rem;
    max-width: 90%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
}

#about .aboutContent p {
    margin: 1rem auto;
}

#about .info {
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

#about .skills-wrapper {
    display: flex;
    flex-direction: column;
}


#about .skills-wrapper .skill-level {
    padding: 10px;
}

#about .skills-wrapper .skill-level div.skill-name {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}



#about .content {

    margin: 4rem auto;
    font-size: larger;
}


#about .info .bio-data .bio-data li {
    margin: 10px;
}

#about .info .contect .wrapper li {
    margin: 10px;
}

#academics h2 {
    margin: 1rem auto;
}


#education {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 5px;
}

#education .edu-desc {
    margin-top: 1rem;
}

#education .graduation {
    padding-left: 4px;
    border-left: 3px solid var(--main-color);
    padding-left: 1rem;

}

#education .intermediate {
    margin-top: 3rem;
    padding-left: 4px;
    border-left: 3px solid var(--main-color);
    padding-left: 1rem;
}

#education .high-school {
    margin-top: 3rem;
    padding-left: 4px;
    border-left: 3px solid var(--main-color);
    padding-left: 1rem;
}

#education .high-school {
    margin-top: 3rem;
}

#services {
    padding: 6rem 0;
    max-width: 90%;
    margin: auto;
}


#services .services-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem auto;
}

#services .services-wrapper .service-container {
    background-color: var(--secondary-color);
    border-radius: .5rem;
    /* width: 287px; */
    text-align: center;
    padding: 1rem;
    /* margin: 1rem; */
}


#services .services-wrapper span.material-symbols-outlined {
    color: var(--main-color);
    font-size: 3rem;
    padding: 5px;

}


#portfolio {
    max-width: 90%;
    margin: 1rem auto;
    padding: 6rem 0;
}

#portfolio .projects {
    margin: 1.4rem 0 .8rem 0;
}

#portfolio .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem auto;
}

#portfolio .project-wrapper .project-container {
    background-color: var(--main-color);
    border-radius: 1rem;
    margin: .5rem;
    /* padding: 5px; */
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

#portfolio .project-wrapper .project-container img {
    width: 100%;
    border-radius: 1rem;
}

#contact {
    max-width: 90%;
    margin: 1rem auto;
    padding: 10rem 0;
}

#contact .query {
    text-align: center;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 3rem;
}

#contact .query p {
    font-weight: bold;
}

#contact .contacts-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto;
    align-items: center;
}

#contact .contacts-wrapper .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
    font-weight: bold;
    /* font-size: 1.5rem; */
}

#contact .query h2 {
    font-size: 2.8rem;
    color: var(--main-color);
}

#contact .query p {
    font-size: 1.8rem;
}


#contact .contacts-wrapper .contact span {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
}

#contact .mail-contact .nameAndMail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .mail-contact .nameAndMail input,
textarea {
    padding: 15px;
    width: 50%;
    border-radius: 15px;
    border: none;
    margin: 10px;
    background-color: var(--secondary-color);

}

#contact .mail-contact .nameAndMail,
textarea {
    justify-content: start;
}


#contact .mail-contact .nameAndMail input,
textarea {
    width: 100%;
}

#contact .btn {
    margin-left: 10px;
    border-radius: 1.4rem;
}

#navbar .menu-btn {
    display: none;
}

/* responsive */

.toggle {
    background-color: red;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    #services .services-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    #portfolio .project-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #navbar .menu {
        display: none;
    }

    #navbar .menu-btn {
        display: block;
    }
}

/* responsive */

.menu {
    display: none;
    /* Initially hide the menu */
}

.show-menu .menu {
    display: block;
    /* Show the menu when the "show-menu" class is applied */


}


@media screen and (max-width: 426px) {
    #home .content {
        display: block;
    }

    #about {
        display: block;
    }

    #about .info {
        display: block;
        z-index: 10;
    }

    #services .services-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    #contact .contacts-wrapper {
        display: block;
    }

    #contact .contacts-wrapper .contact {
        margin-top: 2rem;
    }
}